.post-excerpt,
.user {
    position: relative;
    border: 1px solid var(--clr-n-700);
    border-radius: 5px;
    width: 470px;
    background-color: var(--clr-n-900);
    margin: 1rem 0;
}

.user {
    display: flex;
    gap: 1rem;
    padding: 2rem;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile {
    flex-basis: 200%;
}

.post-excerpt P {
    font-size: .9rem;
}

.post-excerpt.last-post {
    --icon-height: 100px;
    height: 250px;
}

.last-post-icon {
    width: var(--icon-height);
    height: var(--icon-height);
    margin-bottom: 1rem;
}

.pd {
    padding: .65rem 1rem;
}

.pb {
    padding: 0 1rem .65rem;
}

.post-body {
    position: relative;
    display: flex;
    flex-direction: column;
}

.last-post .post-body {
    justify-content: center;
    align-items: center;
    height: 100%;
}

p.text-sm {
    font-size: .9rem;
    color: var(--clr-n-300);
}

p.text-md {
    font-size: 1.3rem;
    padding-bottom: .5rem;
}

.post-img {
    height: 500px;
}

.post-img img {
    height: 100%;
}

/* POST COMMENTS */
.comment {
    display: flex;
    padding-bottom: .5rem;
}

.comment>p {
    font-size: .8rem;
}

.commenter {
    font-weight: bold;
    padding-right: .25rem;
}

@media screen and (max-width: 700px) {

    .post-excerpt,
    .user {
        width: 400px;
    }

    .post-img {
        height: 400px;
    }


    p.text-md {
        font-size: 1rem;
    }

    p.text-sm {
        font-size: .8rem;
    }
}

@media screen and (max-width: 550px) {

    .post-excerpt,
    .user {
        width: 95vw;
    }
}

/* User excerpt */

.user::-webkit-scrollbar {
    display: none;
}


.user-excerpt {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 150px;
    border: 1px solid var(--clr-n-700);
    border-radius: 5px;
    padding: 1rem 1.5rem;
}

.user-excerpt p {
    font-size: .8rem;
    font-weight: 300;
}